@charset "UTF-8";
body {
  font: 19px/23px Montserrat, sans-serif;
}

body {
  background-color: #000000;
  color: rgb(255, 255, 255);
  margin: 0 45px;
}

main {
  margin: 0 30px;
}

header.header-website {
  height: 75px;
  margin-bottom: 15px;
}

picture.emoji-gif img {
  width: 1em;
  height: 1em;
}

.section-display {
  display: flex;
  margin-bottom: 10rem;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-display.right-text-content {
    flex-direction: row-reverse;
  }
  .section-display.right-text-content .illustration {
    padding-right: 5rem;
  }
  .section-display.right-text-content .text-content {
    text-align: center;
    margin: 5rem;
  }
  .section-display.right-text-content .paragraph {
    margin-bottom: 70px;
  }
  .section-display.left-text-content {
    flex-direction: row;
  }
  .section-display.left-text-content .illustration {
    padding-left: 5rem;
  }
}
.section-display .text-content {
  flex: 1;
}
.section-display .text-content .title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .title {
    font-size: 70px;
  }
}
.section-display .text-content .paragraph {
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .section-display .text-content .paragraph {
    font-size: 30px;
    line-height: 40px;
  }
}
.section-display .illustration {
  flex: 1;
  padding: 20px;
  margin-top: 50px;
}
.section-display .illustration img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.competences-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 40px;
  color: rgb(201, 26, 26);
}
.competences-icons i {
  transition: all 0.8s ease;
}
.competences-icons i:hover {
  cursor: pointer;
  color: rgb(110, 110, 110);
  transform: scale(1.2);
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: solid 1px;
  transition: all ease 0.3s;
}
.btn:hover {
  transform: translateY(-10px);
}
.btn.btn-primary {
  background-color: rgb(201, 26, 26);
  color: rgb(255, 255, 255);
  border-color: rgb(110.6828193833, 14.3171806167, 14.3171806167);
}
.btn.btn-primary:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-color: #000000;
}
.btn.btn-secondary {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-color: #3b3b3b;
}
.btn.btn-secondary:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-color: #000000;
}
.btn.btn-dark {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-color: black;
}
.btn.btn-dark:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-color: #000000;
}
.btn.btn-gray {
  background-color: rgb(181, 181, 181);
  color: #000000;
  border-color: #828282;
}
.btn.btn-gray:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-color: #000000;
}
.btn.btn-white {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-color: #cccccc;
}
.btn.btn-white:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-color: #000000;
}

.animate-fusée {
  transition: all 2s ease;
  display: inline-block;
}
.animate-fusée:hover {
  animation: moveFusee 2s;
}

@keyframes moveFusee {
  0% {
    transform: translate(0px 0px);
  }
  10% {
    transform: translate(2px -1px);
  }
  20% {
    transform: translate(-4px 2px);
  }
  30% {
    transform: translate(6px -3px);
  }
  40% {
    transform: translate(-8px 4px);
  }
  50% {
    transform: translate(10px -5px);
  }
  60% {
    transform: translate(-12px 6px);
  }
  70% {
    transform: translate(14px -7px);
  }
  100% {
    transform: translate(1500px, -1500px);
  }
}/*# sourceMappingURL=main.css.map */