@function darkenBorder($color) {
    @return darken($color, 20%);
}

@function getFontColor($bgColor) {
    @if (lightness($bgColor) > 50%) {
        @return $dark;
    } @else {
        @return $white;
    }
}

.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border:solid 1px;
    transition: all ease 0.3s;

    &:hover{
        transform: translateY(-10px);
    }

    @each $name,$color in $colors{

        &.btn-#{$name} {
            background-color: $color;
            color: getFontColor($color);
            border-color: darkenBorder($color);

            &:hover{
                $bg-hover:$secondary;
                background-color: $bg-hover;
                color: getFontColor($bg-hover);
                border-color: $dark;
            }
        }
    }
}