.section-display {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

@media screen and (min-width: 768px){
    &.right-text-content {
        flex-direction: row-reverse;
        .illustration {
            padding-right: 5rem;
            }
        .text-content {
            text-align: center;
            margin: 5rem;
            }   
            .paragraph {
                margin-bottom: 70px;
            }
    }
            
    
    &.left-text-content {
        flex-direction: row;
        .illustration {
            padding-left: 5rem;
        }
    }
}  

    .text-content{
        flex:1;
        .title{
            font-size: 30px;
            @media screen and (min-width: 768px){
            font-size: 70px;
            }
            line-height: 1.1;
            font-weight: 700;
        }
        .paragraph {
            font-size:15px;
            @media screen and (min-width: 768px){
            font-size: 30px;
            line-height:40px;
            }
            
        } 
    }

    .illustration{
        flex:1;
        padding:20px;
        margin-top: 50px;
        img{
        max-width: 100%;
        display: block;
        margin: auto;

        }
    }



    .action-div{

    }

}

.stack-technique-icons {
    display: flex;
    justify-content: center; 
    gap: 30px;
    font-size: 40px;
    color: $primary;
    i{
        transition: all 0.8s ease;
        
        &:hover{
            cursor: pointer;
            color: $secondary;
            transform: scale(1.2); 
        }    
    }
}

.list-blog {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    gap: 32px;
    margin-top: 60px;
    a{
        @include link-as-text;
    }

    .blog {
        box-shadow: 1px 0 20px $white;
        padding: 15px 30px;
        border-radius:5px;
        position: relative;

        h4, p{
            position: relative;
            z-index: 6;
            background-color: transparent;
        }

        &:hover{
            cursor: pointer;
            .link-blog{
                color: $secondary;
                width: calc(100% - 25px);
                height: calc(100% - 25px);
                border-radius: 5px;
            }
        }

        .link-blog{
            text-align: right;
            display: block;
            background-color: $primary;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 10px 15px 15px;
            border-bottom-left-radius: 100%;
            transition: 0.5s ease-out;
            width: 15px;
            height: 20px;
            opacity: 0.8;
            z-index: 5;
        }
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$dark ;
    display: flex;
    justify-content: center;    
    align-items: center;
    z-index: 1000;
    animation: loader-hide 2s forwards;
    .loader{
        border: 16px solid #f3f3f3; 
        border-top: 16px solid $primary; 
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 0.5s linear infinite;
    }
}

.competences-bars {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .competence-bar {

        .competence-bar-bar{
            background-color: $white;
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: 1px solid $secondary;
            .competence-bar-bar-fill{
                height: 100%;
                background-color: $primary;
                border-radius: 10px;
                animation: showGrowth 1s ease infinite alternate;
            }

        }
    }
}


