$primary: rgb(201, 26, 26);
$secondary: rgb(110, 110, 110);
$dark:#000000;
$gray: rgb(181, 181, 181);
$white: rgb(255, 255, 255);

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "gray": $gray,
    "white": $white,
);