h1{
    color:red
}

.presentation{
    font-weight:bold;
    color:blue;
    margin-top: 50px;
}

div.parent{
    color: white;

    &:hover{
        color: black;
    }
    .enfant{
        color: rgb(255, 157, 0);
    }
}
